<footer class="site-footer" role="contentinfo">
	<div class="container">
      	<div class="footer-top"> 
			<div class="row">
              <div class="col-1 col-xs-3 wow fadeInUp">
                <a href="{{ settings.instagram_link_footer }}" title="Instagram" target="_blank">{{ 'instagram.png' | asset_url | img_tag }}</a>
              </div>
              <div class="col-2 col-xs-3 wow fadeInUp" data-wow-delay="200ms">
                  <h3>{{ settings.footer_column_1_title }}</h3>
                  <ul>
                    <li>{% if settings.display_footer_column_1_link_1 %}<a href="{{ settings.footer_column_1_link_1 }}" title="{{ settings.footer_column_1_text_1 }}">{{ settings.footer_column_1_text_1 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_1_link_2 %}<a href="{{ settings.footer_column_1_link_2 }}" title="{{ settings.footer_column_1_text_2 }}">{{ settings.footer_column_1_text_2 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_1_link_3 %}<a href="{{ settings.footer_column_1_link_3 }}" title="{{ settings.footer_column_1_text_3 }}">{{ settings.footer_column_1_text_3 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_1_link_4 %}<a href="{{ settings.footer_column_1_link_4 }}" title="{{ settings.footer_column_1_text_4 }}">{{ settings.footer_column_1_text_4 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_1_link_5 %}<a href="{{ settings.footer_column_1_link_5 }}" title="{{ settings.footer_column_1_text_5 }}">{{ settings.footer_column_1_text_5 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_1_link_6 %}<a href="{{ settings.footer_column_1_link_6 }}" title="{{ settings.footer_column_1_text_6 }}">{{ settings.footer_column_1_text_6 }}</a>{% endif%}</li>
                  </ul>
              </div>
              <div class="col-3 col-xs-3 wow fadeInUp" data-wow-delay="400ms">
                  <h3>{{ settings.footer_column_2_title }}</h3>
                  <ul>
                    <li>{% if settings.display_footer_column_2_link_1 %}<a href="{{ settings.footer_column_2_link_1 }}" title="{{ settings.footer_column_2_text_1 }}">{{ settings.footer_column_2_text_1 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_2_link_2 %}<a href="{{ settings.footer_column_2_link_2 }}" title="{{ settings.footer_column_2_text_2 }}">{{ settings.footer_column_2_text_2 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_2_link_3 %}<a href="{{ settings.footer_column_2_link_3 }}" title="{{ settings.footer_column_2_text_3 }}">{{ settings.footer_column_2_text_3 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_2_link_4 %}<a href="{{ settings.footer_column_2_link_4 }}" title="{{ settings.footer_column_2_text_4 }}">{{ settings.footer_column_2_text_4 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_2_link_5 %}<a href="{{ settings.footer_column_2_link_5 }}" title="{{ settings.footer_column_2_text_5 }}">{{ settings.footer_column_2_text_5 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_2_link_6 %}<a href="{{ settings.footer_column_2_link_6 }}" title="{{ settings.footer_column_2_text_6 }}">{{ settings.footer_column_2_text_6 }}</a>{% endif%}</li>
                  </ul>
              </div>
              <div class="col-4 col-xs-3 wow fadeInUp" data-wow-delay="600ms">
                   <h3>{{ settings.footer_column_3_title }}</h3>
                  <ul>
                    <li>{% if settings.display_footer_column_3_link_1 %}<a href="{{ settings.footer_column_3_link_1 }}" title="{{ settings.footer_column_3_text_1 }}">{{ settings.footer_column_3_text_1 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_3_link_2 %}<a href="{{ settings.footer_column_3_link_2 }}" title="{{ settings.footer_column_3_text_2 }}">{{ settings.footer_column_3_text_2 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_3_link_3 %}<a href="{{ settings.footer_column_3_link_3 }}" title="{{ settings.footer_column_3_text_3 }}">{{ settings.footer_column_3_text_3 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_3_link_4 %}<a href="{{ settings.footer_column_3_link_4 }}" title="{{ settings.footer_column_3_text_4 }}">{{ settings.footer_column_3_text_4 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_3_link_5 %}<a href="{{ settings.footer_column_3_link_5 }}" title="{{ settings.footer_column_3_text_5 }}">{{ settings.footer_column_3_text_5 }}</a>{% endif%}</li>
					<li>{% if settings.display_footer_column_3_link_6 %}<a href="{{ settings.footer_column_3_link_6 }}" title="{{ settings.footer_column_3_text_6 }}">{{ settings.footer_column_3_text_6 }}</a>{% endif%}</li>
                  </ul>
              </div>
            </div>
		</div>
		<div class="footer-bottom  wow fadeInUp" data-wow-delay="800ms">
          {% if settings.display_footer_address %}
			<address class="text-center">
			{% if settings.footer_address_code %}
			  {{ settings.footer_address_code }}
			{% endif%}
              
              (c) 2014 - 2020, Ciel Concessions Ltd, 2 Tufnell Park Road, London, N7 0DP
			</address>
          {% endif %}
			
			{% comment %}
			  Loop through available payment methods and show their icons.
			{% endcomment %}
			{% include 'payment_methods' %}          
		</div>
	</div>
</footer>
{% include 'message-modal' %}