{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="IE_Pw9NmcB--Pas6zcDnz9pzzMz2IinGlT58PBhz5Fc" />
<meta name="google-site-verification" content="RplFNRkKO7ig2jIToRDkK729HcnGJdmd26LEqLSffDU" />
  <meta name="google-site-verification" content="RplFNRkKO7ig2jIToRDkK729HcnGJdmd26LEqLSffDU" />
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  {% if template contains 'collection' and current_tags %}
  <meta name="robots" content="noindex,follow" />
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />

  {% elsif template == 'search' %}
  <link rel="canonical" href="{{ shop.url | append: '/search' }}">
  
  {% elsif request.path contains 'types' %}
  <meta name="robots" content="noindex, follow">
  
  {% elsif collection.url != blank and product.url != blank %}
  <meta name="robots" content="noindex, follow">
  <link rel="canonical" href="{{ shop.url }}{{ product.url }}" />
  
  {% else %}
  <link rel="canonical" href="{{ canonical_url }}">
  
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  
   <!-- Styles -->
    {% include 'head_styles' %}
  
   <!-- Scripts -->
	{% include 'head_scripts' %}
  
   <!-- fonts -->
	{% include 'head_fonts' %}
  

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script type='application/ld+json'>
{
	"@context": "http://schema.org/",
	"@type": "Organization",
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "United Kingdom",
		"addressLocality": "London",
		"addressRegion": "Greater London",
		"postalCode": "N7 0DP",
		"streetAddress": "2 Tufnell Park Road",
		"telephone": "02076093434",
		"name": "Chesca"
	}
}
</script>
<!-- Global site tag (gtag.js) - DoubleClick -->
<script async
src="https://www.googletagmanager.com/gtag/js?id=DC-8708545"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'DC-8708545');
</script>
<!-- End of global snippet: Please do not remove -->
<script>
gtag('event', 'conversion', {
'allow_custom_scripts': true,
  'u1': '{{canonical_url}}',
'u6': 'GBP',
'send_to': 'DC-8708545/counter/chesc0+standard'
});
</script>  
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class=" {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    

                <div class="gf-menu-device-wrapper">
                	<div class="gf-menu-device-container"></div>
                </div>


             
  </nav>
  <div class="wrapper-container">
	
	{% include 'header-franchesca' %}
  
  <nav class="nav-bar" role="navigation">
    <div class="container">
      {% include 'site-nav-franchesca' %}
     
    </div>
  </nav>
  <div class="quick-view"></div>

  <main class="container main-content" role="main">
    {{ content_for_layout }}

  </main>

  {% include 'footer-franchesca' %}

  {% if settings.enable_quick_view %}
  	{% include 'quick-view-template' %}
  {% endif %}

  {% include 'footer_scripts' %}
  {% include 'newsletter-franchesca' %}
  <div id="back-top" style="display: none;"><a class="nav_up" href="#top">Back to top</a></div>
  </div>

  {% if settings.display_recently_viewed_products %}
  <!-- Begin Recently Viewed Products -->
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
  <script>
  Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  <!-- End Recently Viewed Products -->
  {% endif %}

<input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />
<script type="text/conversion">
    if(typeof(google_tag_params)=='undefined')
    {
        var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'other',
            ecomm_totalvalue: ''
        };
    }
</script>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1055895193;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
  
  $( document ).ready(function() {
  $(".search-bar").on('submit', function() {
  
    var val = $(this).find('input[name="q"]').val();
    $q = val + " AND vendor:franchesca";
    $(this).find('input[name="q"]').val($q);
  });
})
</script>
  
<!-- Hotjar Tracking Code for https://chescadirect.co.uk/ -->
<script>
(function(h,o,t,j,a,r){
h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
h._hjSettings={hjid:566293,hjsv:5};
a=o.getElementsByTagName('head')[0];
r=o.createElement('script');r.async=1;
r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1055895193/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>